<p id="message">Click the button to change me!</p>
<button id="change-text">Change Text</button>

<script>
  document.querySelector("#change-text").addEventListener("click", function(){
    document.querySelector("#message").textContent = "Text has been changed!";
  });
</script>
